.container{
background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
    align-items: normal;
}
.GameArea{
  height:400px;
  border:2px solid black;
  background:aliceblue;
}
.dot{
  display:block;
  height:20px;
  width:20px;
  background:red; transform:translate(10px, 10px);
}
.score{
/*   width:100%; */
/*   background:red; */
  display:flex;
  gap:5%;
}
.MouseClick{
  width:70% !important;
  border:2px solid black;
}
.Reaction{
  width:25% !important;
  border:2px solid black;
}

.new{ 
display:none;
}
